Repository UofTAgritech/CloudPonics, pull requests merged in 2021-11, with the labels that each got.

#2 Add keypair generation to IoT device registration
  functions/.eslintrc.js
  functions/.gitignore
  functions/package-lock.json
  functions/package.json
  functions/src/device.ts
  functions/src/index.ts
Labels: Scope: Engineering Design, Status: In Progress, Type: Improvement

#9 API Restructure
  .gitignore
  firestore.rules
  functions/package-lock.json
  functions/package.json
  functions/src/device/listeners/devicelist.ts
  functions/src/device/listeners/pubsub.ts
  functions/src/device/routes/registerDevice.ts
  functions/src/index.ts
  functions/src/webapp/listeners/auth.ts
  functions/src/webapp/routes/routes.ts
  package.json
Labels: Status: Review Needed, Type: New Feature, Scope: Device

#10 Add file upload route for devices
  functions/package-lock.json
  functions/package.json
  functions/src/device/routes/uploadFile.ts
  functions/src/index.ts
Labels: Scope: Engineering Design, Status: Review Needed, Type: New Feature, Scope: Device

#12 Firestore Rules, More Routes
  firestore.rules
  functions/src/device/listeners/devicelist.ts
  functions/src/device/listeners/pubsub.ts
  functions/src/device/routes/registerDevice.ts
  functions/src/device/routes/uploadFile.ts
  functions/src/index.ts
  functions/src/webapp/listeners/auth.ts
Labels: Status: Review Needed, Type: New Feature, Scope: Device
